{% extends 'base.html.twig' %}

{% block title %}Videos
{% endblock %}

{% block body %}
	<div class="blank-xl"></div>
	<div class="container center">
		{% if (videos|length > 0) %}
			{% for row in videos|batch(3) %}
				<div class="row">
					{% for video in row %}
						<div class="col-4 left clickable">
							<div class="card" style="height: 400px">
								<iframe class="card-img-top" width="300" height="200" src={{"https://www.youtube.com/embed/" ~ video.videoLink | split('?v=', 2)[1] }}></iframe>
								<div class="card-body">
									<a class="card-title" href={{ "/video/" ~ video.id }}>
										<h2 class="inline">{{ video.title|length > 30 ? video.title|slice(0, 30) ~ '...' : video.title}}</h2>
										{% if video.premiumVideo == true %}
											<span class="badge text-bg-warning inline">Premium</span>
										{% endif %}
									</a>
									<div class="blank-sm"></div>
									<p class="card-text">{{ video.description|length > 15 ? video.description|slice(0, 15) ~ '...' : video.description}}</p>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<p class="badge text-bg-light date">{{ "Submitted on " ~ video.createdAt|date("m.d.Y") }}</p>
										<span class="badge text-bg-light">{{ "By " ~ video.owner.firstname ~ " " ~ video.owner.lastname }}</span>
									</li>
								</ul>
							</div>

						</div>
					{% endfor %}
				</div>
			{% endfor %}
		{% else %}
			<h3>No videos have been created yet!</h3>
		{% endif %}
	</div>
</div>{% endblock %}
